<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <%  for (let i=0; i<newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox"> 
            <p><%= newListItems[i] %></p>
        </div>
        <% } %>

        <!-- Updated form to include a hidden input for list type -->
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <input type="hidden" name="list" value="<%= listTitle %>"> <!-- Hidden input for list type -->
            <button type="submit">+</button>
        </form>
    </div>

</body>
<footer>
    copyright 2023 Ken
</footer>
</html>
